
    <ul class="menu">
        <li class="menu-item"><a href="#">Welcome</a></li>
        <li class="menu-item"><a href="#">Tutorials</a>
            <ul class="dropdown">
                <li class="menu-item sub-menu"><a href="#">Rails Girls</a></li>
                <li class="menu-item sub-menu"><a href="#">Robotics Intro</a></li>
                <li class="menu-item sub-menu"><a href="#">Robotics Next</a></li>
                <li class="menu-item sub-menu"><a href="#">CSS Into</a></li>
                <li class="menu-item sub-menu"><a href="#">HTML</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="#">Inspiration</a></li>
        <li class="menu-item"><a href="#">About Us</a></li>
        <li class="menu-item"><a href="#">Contact Us</a></li>
    </ul>
